body {
    background-color: black;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-top: 15%;
}
h1 { 
    text-align: center;
    font-size: 90px;

}
.jumbotron { background-color: black;
}

#start{
  background-color: cornflowerblue;
  align-content: center;
  font-size: 25px;
}
#start:hover{
  background-color: aliceblue;
  color: black;
}
.last-seconds{
  color: red;
}

.option {
  margin: 20px;
  font-size: 25px;
  background-color: cornflowerblue;
}
.option:hover{
  background-color:aliceblue;
  color: black;
}

.text-muted{
  color: cornflowerblue;
}

.row {
  align-content: center;

}

#results {
  text-align: center;
}