body {
    background-color: black;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-top: 15%;
}
h1 { 
    text-align: center;
    font-size: 90px;

}
.jumbotron { display: flex; flex-wrap: wrap; background-color: black;
}

#start{
  background-color: cornflowerblue;
}

.last-seconds{
  color: red;
}

.option {
  margin: 20px;
  font-size: 25px;
  background-color: cornflowerblue;
}

.text-muted{
  color: cornflowerblue;
}

.row {
  text-align: center;
}
